---
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-alloy:
    name: Lint Alloy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: robinraju/release-downloader@daf26c55d821e836577a15f77d86ddc078948b05 # v1
        with:
          repository: 'grafana/alloy'
          latest: true
          filename: 'alloy-linux-amd64.zip'
          extract: true
      - name: Move Alloy binary to path
        run: |
          mv alloy-linux-amd64 /usr/local/bin/alloy
          chmod +x /usr/local/bin/alloy
      - name: Run linting script
        run: './scripts/lint-alloy.sh'

  lint-editorconfig:
    name: Lint Editorconfig
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/krypton'
      - name: Install dependencies
        run: pnpm install
      - name: Run linting script
        run: './scripts/lint-editorconfig.sh'

  lint-markdown:
    name: Lint Markdown
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/krypton'
      - name: Install dependencies
        run: pnpm install
      - name: Run linting script
        run: './scripts/lint-markdown.sh'
