---
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-alloy:
    name: Lint Alloy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: robinraju/release-downloader@daf26c55d821e836577a15f77d86ddc078948b05 # v1
        with:
          repository: 'grafana/alloy'
          latest: true
          filename: 'alloy-linux-amd64.zip'
          extract: true
      - name: Move Alloy binary to path
        run: |
          mv alloy-linux-amd64 /usr/local/bin/alloy
          chmod +x /usr/local/bin/alloy
      - name: Run linting script
        run: './scripts/lint-alloy.sh'

  lint-editorconfig:
    name: Lint Editorconfig
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 'lts/krypton'
      - name: Install dependencies
        run: pnpm install
      - name: Run linting script
        run: './scripts/lint-editorconfig.sh'

  lint-markdown:
    name: Lint Markdown
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 'lts/krypton'
      - name: Install dependencies
        run: pnpm install
      - name: Run linting script
        run: './scripts/lint-markdown.sh'
