---
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-alloy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: robinraju/release-downloader@daf26c55d821e836577a15f77d86ddc078948b05 # v1
        with:
          repository: 'grafana/alloy'
          latest: true
          filename: 'alloy-linux-amd64.zip'
          extract: true
      - name: Move Alloy binary to path
        run: |
          mv alloy-linux-amd64 /usr/local/bin/alloy
          chmod +x /usr/local/bin/alloy
      - name: Run linting script
        run: './scripts/lint-alloy.sh'
